body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;

    /* --- INICIO DE CAMBIOS PARA LA IMAGEN DE FONDO --- */
    background-image: url('cumple.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll (opcional) */
    /* --- FIN DE CAMBIOS PARA LA IMAGEN DE FONDO --- */
}

.container {
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semitransparente para que se vea la imagen */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para destacar */
    animation: fadeIn 2s;
}

h1 {
    color: #4CAF50;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Sombra al texto del título */
}

p {
    font-size: 1.2em;
    color: #555;
}

#countdown {
    font-size: 2.8em; /* Un poco más grande */
    font-weight: bold;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15); /* Sombra al texto del contador */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }

}
